.header-content {
    width: 960px;
    margin: 0px auto;
    padding-top: 24px;

}

.nav {
    height: 40px;
    background-color: grey;
}

.nav ul {
    margin: 0px;
    padding: 0px;
}

.nav ul li {
    list-style: none;
    display: inline;
}

.nav ul li {
    text-decoration: none;
    float: left;
    display: block;
    padding: 10px 20px;
}

.jumbotron {
    width: 960px;
}

.about{
    color: ghostwhite;
}